@font-face{
	font-family: BalsamiqSans;
	font-display: swap;
	src: url("../fonts/BalsamiqSans-Bold.woff2") format("woff2"), url("../fonts/BalsamiqSans-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: BalsamiqSans;
	font-display: swap;
	src: url("../fonts/BalsamiqSans-Regular.woff2") format("woff2"), url("../fonts/BalsamiqSans-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: icons;
	font-display: swap;
	src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
